// custom class name setting in /element-ui.js

.mat-message 
  &.el-message
    width 90%
    min-width 320px
    .el-message__content
      line-height 1.2

  &.el-message--info
    .el-message__content
      color #555
