// color
main_c = #2b78e4
dialog_border_c = rgb(153, 153, 153)
dialog_bg_c = rgb(140, 140, 140)
btn_active_bc = #95bcf2
message_bc = #95bcf2

// spec
header_h = 40px
footer_h = 50px
dialog_h = 'calc(100vh - %s)' % header_h
notice_list_h = 80px

dialog_z = 2000
header_z = 1000
footer_z = 1000